<link rel="stylesheet" href="/css/home.css" />

<link rel="stylesheet" href="/css/profile.css" />

<div class="container">
   <div class="welcome">
      <marquee
         ><h2>
            Welcome to Online Banking Application <%= user.name %>
         </h2></marquee
      >
   </div>

   <div class="detail">
      <label for="account holder">Account Holder:</label>
      <input type="text" value="<%= user.name %> " readonly /><br />
      <label for="email">Email:</label>
      <input type="text" value="<%= user.email %> " readonly /><br />
      <label for="account number">Account Number:</label>
      <input type="text" value="<%= user.accountNumber %> " readonly /><br />
      <label for="balance">Balance:</label>
      <input type="text" value="<%= user.balance %> " readonly /><br /><br />
   </div>

   <div class="transfer-btn">
      <button>
         <a href="/transfer/<%= user.id %> "
            ><span>Transfer Money</span>
            <img
               src="https://image.flaticon.com/icons/svg/60/60678.svg"
               alt="money transfer"
         /></a>
      </button>
   </div>
</div>
